<template>
  <div>
    <feat-detail class="feat" :feat="feat" />
    <feat-detail class="feat" :feat="test" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import FeatDetail from "./FeatDetail.vue";
import finesse from "../data/feats/attaque-en-finesse.json";
import test from "../data/feats/test.json";
import Feat from "@/model/Feat";

export default defineComponent({
  name: "AllFeats",
  components: { FeatDetail },
  setup() {
    const feat = finesse as Feat;
    return {
      feat,
      test
    };
  }
});
</script>

<style scoped>
.feat {
  margin: 5em;
}
</style>
