<template>
  <div class="feat-card">
    <h1>{{ feat.name }}</h1>
    <h4>Catégorie : {{ feat.category }}</h4>
    <p v-if="feat.flavorText" class="flavor">{{ feat.flavorText }}</p>
    <p v-if="feat.condition"><strong>Condition</strong> {{ feat.condition }}</p>
    <p v-if="feat.advantage"><strong>Avantage</strong> {{ feat.advantage }}</p>
    <p v-if="feat.normal"><strong>Normal</strong> {{ feat.normal }}</p>
    <p v-if="feat.special"><strong>Spécial</strong> {{ feat.special }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Feat from "../model/Feat";

export default defineComponent({
  name: "FeatDetail",
  props: {
    feat: {
      type: Object as () => Feat,
      required: true
    }
  }
});
</script>

<style scoped>
.feat-card {
  display: block;
  width: 300px;
  border-style: dashed;
  text-align: justify;
  padding: 3em;
}
.flavor {
  font-style: italic;
}
</style>
